<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href=“https://fonts.googleapis.com/css?family=Raleway&display=swap” rel=“stylesheet” />
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
<nav>
    <a href="/home">
        HOME
    </a>
</nav>
<div class="greeting">
    <h1 th:text="'Welcome '+ ${name}"></h1>
    <h2>Choose your fox:</h2>
</div>
<a th:="/chosen + ${name}"><img src="/greenfox.png" alt="greenFox" th:width="120px" th:height="120px"></a>
<a href="/chosen"><img src="/cuteFox1.png" alt="cuteFox1" th:width="150px" th:height="160px"></a>
<a href="/chosen"><img src="/cuteFox2.png" alt="cuteFox2" th:width="160px" th:height="140px"></a>
</body>
</html>