<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href=“https://fonts.googleapis.com/css?family=Raleway&display=swap” rel=“stylesheet” />
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
<div class="wrapper">
    <h1>My Shop</h1>
    <form action="/search" method="post">
        <input type="text" placeholder="Search..." name="search">
        <button type="submit">Submit</button>
    </form>
    <nav>
    <a href="/only-available">
        ONLY AVAILABLE
    </a>
    <a href="/cheapest-first">
        CHEAPEST FIRST
    </a>
    <a href="/contains-nike">
        CONTAINS NIKE
    </a>
    <a href="/average-stock">
        AVERAGE STOCK
    </a>
    <a href="/most-expensive">
        MOST EXPENSIVE AVAILABLE
    </a>
</nav>
<table>
    <thead>
    <th>
        NAME
    </th>
    <th>
        DESCRIPTION
    </th>
    <th>
        PRICE
    </th>
    <th>
        QUANTITY OF STOCK
    </th>
    </thead>
    <tbody>
    <tr th:each="item : ${ShopItemStore}">
        <td th:text="${item.getName()}"></td>
        <td th:text="${item.getDescription()}"></td>
        <td th:text="${item.getPrice()}"></td>
        <td th:text="${item.getQuantityOfStock()}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>