<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href=“https://fonts.googleapis.com/css?family=Raleway&display=swap” rel=“stylesheet” />
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
<div class="wrapper">
    <a class="home" href="/home"><h1>Bank of Simba</h1></a>
    <h2>Coolest bank accounts ever</h2>
    <nav>
        <a href="/accounts">
            ACCOUNTS
        </a>
        <a href="/newaccount">
            CREATE NEW ACCOUNT
        </a>
    </nav>
</div>
<div class="form">
<form action="/handle-the-form" method="post" th:object="${newAccount}">
    Name:
    <input type="text" th:field="*{name}"><br>
    Animal type:
    <input type="text" th:field="*{animalType}"><br>
    Put your password:
    <input type="text" th:field="*{password}"><br>
    <input type="submit" value="submit">
</form>
</div>
</body>
</html>

<!--

       -->